.app
    max-width 960px
    margin 0 auto

.save
	margin-top 35px

content
 ul
  list-style none
  margin 0
  padding 0
  li
   width 31%
   display inline-block
   vertical-align top
   margin-right 10px
   padding 0 5px
   box-sizing border-box
   &:nth-child(3n+3)
    margin-right 0
   .image
     display block
     width 69%;
     height 150px
     img
      max-width 100%
   .title
   	 margin 20px 0
   	 font-size 18px
   	 font-weight bold
   	 display block
   p
   	 font-size 16px
   	 margin 10px 0
   	 font-weight normal
					