.app
    max-width 980px
    margin 0 auto
 
aside h2 
	margin 20px 0
	font-weight bold

aside ul
 	list-style none
 	margin 0   
aside ul li
 	font-size 16px
 	line-height 24px
 	cursor pointer
 	color #1155cc
 	text-decoration underline
 	
aside ul li.active
 	text-decoration none
 	color #000000
	 	
aside ul li a 
	color #000 
	
content ul
	list-style none
 	margin 0
 	padding 0
 	
content li
	width 31%
	display inline-block
	vertical-align top
	margin-right 10px 
	
content li:nth-child(3n+3)
	margin-right 0  

content li .image
	display block
	width 69%;
	height 150px
	
content li .image img 
	max-width 100%	
	
content li .title 
	margin 20px 0
	font-size 18px
	font-weight bold
	
content li p 
	font-size 16px
	margin 10px 0
	font-weight bold		