.search-form
    margin-top 30px
  		        
 input[type="text"]
    width 45%
    padding 2px 5px
    box-sizing: border-box
    display:inline-block
    vertical-align:middle
    

 input[type="button"]
    width 20%
    height 28px
    display:inline-block
    vertical-align:middle
    text-align center
    		
  a 
  	display:inline-block
  	vertical-align:middle
  	margin 0 10px   
    


/*
    for responsive
*/
.search-form
    +below(650px)
        display none