.search-form
    margin-top 30px
    .search
    	width 200px
    	padding 0 3px
    	box-sizing border-box
    input
    	height 26px
    	
    input[type=button]:enabled
    	opacity 1


	input[type=button]:disabled
    	opacity 0.7
    
    #mensaje
    	font-size 14px
    	margin 5px 0
    	display block


/*
    for responsive
*/
.search-form
    +below(650px)
        display none