.search-form 
    input(type='search' name='search' id='search' onkeypress="return validarn(event)" required)
    input(type='submit' name='btnSearch' id='btnSearch' value='Buscar')
    a(href="#") Guardar búsqueda